* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  background: white;
  user-select: none;
  -webkit-app-region: drag;
}

.app {
  padding: 16px;
}

.gojo-button img{
  transition: transform 0.3 ease;
  transform-style: preserve-3d;
}

.gojo-button button:hover img {
  transform: scale(1.1);
  transform: rotateX(3deg) rotateY(4deg) ease;

}

.calendar-weekdays {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}